#root{
    max-width: rem(1240);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.lmj-banner, .wrapper, .lmj-fiche, .lmj-footer, 
.kasa-carousel, .lmj-bg, .lmj-shopping-list .slide{
    flex:1
}
/*.carousel-item{
    display: flex;
    flex-direction: row;
    
}*/