.lmj-notFound{
    width: 100%;
    display: flex;
    flex-direction: column;
    &-bloc{
        margin: 0;
        padding: 0;
        font-family: 'Montserrat';
        text-align: center;
        flex-direction: column;
        color: #FF6060;
    }
    &-title{
        font-size: 288px;
    }
    &-errorMessage{
            font-size: 36px;
            padding: rem(33) 0 0 0 ;
    }
    &-retour{
            padding: rem(142) 0 0 0;
        a{
            text-decoration: none;
            color: #FF6060;
            font-weight: 500;
            font-size: 18px;
        }
    }
}
@media screen and (min-width:300px) and (max-width:475px){
    .lmj-notFound{
        &-title{
            font-size: rem(96);
        }
        &-errorMessage{
            max-width: rem(260);
            font-size: rem(18);
        }
        &-retour{
            a{
                font-size: rem(14);
            }
        }
    }
    
}