.carousel-root{
    width: 1240px;
    height: 415px;
}
.carousel, .slide{
    height: 415px;
    border-radius: 25px;
}
.slide img{
    height: 415px;
    object-fit: cover;
}
.thumbs, .animated{
    display: none;
}