body {
  max-width: 1240px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Montserrat" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media screen and (max-width: 800px) {
  body {
    max-width: 100%;
    margin: 0 auto;
  }

  .lmj-bg img {
    width: 100%;
    margin: 0 auto;
  }
}
.lmj-banner {
  color: #FF6060;
  text-align: right;
  padding: 32px;
  /*border-bottom: solid 3px black;*/
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.lmj-title {
  min-width: 250px;
  padding-left: 32px;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lmj-title a {
  text-decoration: none;
  color: #FF6060;
}
.lmj-logo {
  height: 45px;
  width: 45px;
}

.lmj-bg {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  margin: auto;
  margin-bottom: 32px;
  position: relative;
}

.lmj-bg-img {
  position: absolute;
  border-radius: 25px;
  z-index: 100;
}

.lmj-bg-bg {
  background: black;
  z-index: 200;
  border-radius: 25px;
  opacity: 0.3;
}

.lmj-header-title {
  max-width: 700px;
  position: absolute;
  top: 30%;
  font-family: "Monserrat";
  font-size: 48px;
  z-index: 300;
  font-weight: 500;
  color: white;
}

.lmj-cart {
  color: white;
  background-color: #31b572;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}

.lmj-cart-add-button {
  margin-left: 32px;
  cursor: pointer;
}

.lmj-cart-toggle-button {
  background: none;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  align-self: self-start;
  padding: 0;
  color: white;
  align-self: flex-end;
}

.lmj-cart-closed {
  padding: 32px;
  width: 300px;
}

.lmj-cart-closed > button {
  color: black;
}

.lmj-categories {
  text-align: center;
  padding-top: 30px;
}

.lmj-categories-select {
  margin-right: 15px;
}

.lmj-footer {
  max-width: 1240px;
  color: white;
  margin: auto;
  margin-top: 32px;
  background: black;
  padding: 32px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
}

.lmj-footer-elem {
  margin-bottom: 10px;
}

.lmj-k-footer {
  color: white;
}

.lmj-layout-inner {
  display: flex;
  flex-direction: row;
}

.lmj-plant-item-cover {
  position: relative;
  height: 340px;
  width: 340px;
  background: #FF6060;
  border-radius: 10px;
  object-fit: cover;
  z-index: 100px;
}

.lmj-plant-item {
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  position: relative;
  border-radius: 10px;
}

.lmj-plant-item-title {
  width: 300px;
  height: 15px;
  padding: 5px 0 5px 5px;
  position: absolute;
  bottom: 25px;
  left: 15px;
  border-radius: 10px;
  color: white;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  z-index: 300;
}

.lmj-plant-item-background {
  position: absolute;
  width: 340px;
  height: 340px;
  background: black;
  opacity: 0.2;
  z-index: 200;
  border-radius: 10px;
}

.lmj-shopping-list {
  max-width: 1240px;
  font-family: "Montserrat";
  background: #F7F7F7;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 45px;
  column-gap: 45px;
  padding: 32px;
}

.lmj-notFound {
  display: flex;
  flex-direction: column;
}
.lmj-notFound-bloc {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  text-align: center;
  flex-direction: column;
  color: #FF6060;
}
.lmj-notFound-title {
  font-size: 288px;
}
.lmj-notFound-errorMessage {
  font-size: 36px;
}
.lmj-notFound-retour a {
  text-decoration: none;
  color: #FF6060;
  font-weight: 500;
  font-size: 18px;
}

/*# sourceMappingURL=main.css.map */
