.active {
  border-bottom: 1px solid #FF6060;
}

.notActive {
  border: none;
}

body {
  width: 100%;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Montserrat" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}*/
.star-rating, .emptyStar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 10px;
  align-items: center;
}

.star-rating {
  position: absolute;
}

@media screen and (min-width: 300px) and (max-width: 475px) {
  .star-rating, .emptyStar {
    padding: 15px 0 10px 0;
    margin: 15px 0 10px 0;
    width: 7.1875rem;
  }

  .pinkStar img {
    width: 0.9375rem;
  }
}
#root {
  max-width: calc(95% - 16px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.lmj-banner, .wrapper, .lmj-fiche, .lmj-footer,
.kasa-carousel, .lmj-bg, .lmj-shopping-list, .slide, .lmj-notFound {
  flex: 1;
}

/*.carousel-item{
    display: flex;
    flex-direction: row;

}*/
.lmj-banner {
  width: 100%;
  color: #FF6060;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0.3125rem;
}
.lmj-banner-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}
.lmj-banner-logo-K {
  width: 3.375rem;
}
.lmj-banner-logo-A, .lmj-banner-logo-s, .lmj-banner-logo-a {
  width: 2.875rem;
}
.lmj-title {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*margin-top: rem(15px);*/
}
.lmj-title a {
  margin-left: 1.25rem;
  text-decoration: none;
  color: #FF6060;
}
.lmj-title a:hover {
  border-bottom: 1px solid #FF6060;
}

@media screen and (min-width: 300px) and (max-width: 475px) {
  .lmj-banner {
    max-width: 335px;
    color: #FF6060;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5px 0.625rem 5px;
  }
  .lmj-banner-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
  }
  .lmj-banner-logo-K {
    width: 2.3125rem;
  }
  .lmj-banner-logo-A, .lmj-banner-logo-s, .lmj-banner-logo-a {
    width: 1.9375rem;
  }
  .lmj-title {
    font-family: "Montserrat";
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .lmj-title a {
    font-size: 0.75rem;
    margin-left: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #FF6060;
  }
}
.lmj-bg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.5625rem;
  padding: 0 0 2rem 0;
  position: relative;
}
.lmj-bg-img {
  max-width: 100%;
  position: absolute;
  border-radius: 1.5625rem;
  z-index: 100;
}
.lmj-bg-bg {
  max-width: 100%;
  background: black;
  z-index: 200;
  border-radius: 1.5625rem;
  opacity: 0.3;
}

.lmj-header-title {
  max-width: 43.75rem;
  position: absolute;
  line-height: 50%;
  font-family: "Monserrat";
  font-size: 48px;
  z-index: 300;
  font-weight: 500;
  color: white;
}

@media screen and (min-width: 300px) and (max-width: 475px) {
  .lmj-bg {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    position: relative;
    margin: 0;
  }
  .lmj-bg-img {
    max-width: 100%;
    min-height: 6.9375rem;
    position: absolute;
    z-index: 100;
    /*padding: 0 rem(15);*/
    object-fit: cover;
  }
  .lmj-bg-bg {
    width: 100%;
    min-height: 6.9375rem;
    background: black;
    z-index: 200;
    border-radius: 0.625rem;
    opacity: 0.3;
    /*padding: 0 rem(15);*/
  }

  .lmj-header-title {
    width: 10.625rem;
    line-height: 50%;
    position: absolute;
    left: 2.25rem;
    font-family: "Monserrat";
    font-size: 1.5rem;
    line-height: 1.5rem;
    z-index: 300;
    font-weight: 500;
    color: white;
  }
}
.lmj-cart {
  color: white;
  background-color: #31b572;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}

.lmj-cart-add-button {
  margin-left: 32px;
  cursor: pointer;
}

.lmj-cart-toggle-button {
  background: none;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  align-self: self-start;
  padding: 0;
  color: white;
  align-self: flex-end;
}

.lmj-cart-closed {
  padding: 32px;
  width: 300px;
}

.lmj-cart-closed > button {
  color: black;
}

.lmj-categories {
  text-align: center;
  padding-top: 30px;
}

.lmj-categories-select {
  margin-right: 15px;
}

.lmj-footer {
  width: 100%;
  color: white;
  margin: auto;
  margin-top: 32px;
  background: black;
  padding: 32px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 500;
}
.lmj-footer-text {
  padding: 20px 0 0 0;
}

.lmj-k-footer {
  color: white;
}

.lmj-plant-list {
  min-width: 30%;
}

.lmj-layout-inner {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.lmj-layout-inner a {
  width: 100%;
}

.lmj-plant-item {
  margin: 0.625rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  position: relative;
  border-radius: 0.625rem;
}
.lmj-plant-item-cover {
  position: relative;
  height: 21.25rem;
  max-width: 21.25rem;
  background: #FF6060;
  border-radius: 0.625rem;
  object-fit: cover;
  z-index: 100;
}
.lmj-plant-item-title {
  width: 18.75rem;
  height: 2rem;
  padding: 0.3125rem 0 0.3125rem 0.3125rem;
  position: absolute;
  bottom: 1.25rem;
  left: 0.9375rem;
  border-radius: 0.625rem;
  color: white;
  font-family: "Montserrat";
  font-size: 1.125rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 3px black;
  z-index: 300;
}
.lmj-plant-item-background {
  position: absolute;
  max-width: 21.25rem;
  height: 21.25rem;
  background: black;
  opacity: 0.2;
  z-index: 200;
  border-radius: 0.625rem;
}

@media screen and (min-width: 300px) and (max-width: 475px) {
  .lmj-plant-item {
    margin: 0.625rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    position: relative;
    border-radius: 0.625rem;
  }
  .lmj-plant-item-cover {
    position: relative;
    height: 15.625rem;
    max-width: 20.625rem;
    background: #FF6060;
    border-radius: 0.625rem;
    object-fit: cover;
    z-index: 100;
  }
  .lmj-plant-item-title {
    width: 18.75rem;
    height: 2rem;
    padding: 0.3125rem 0 0.3125rem 0.3125rem;
    position: absolute;
    bottom: 1.25rem;
    left: 0.9375rem;
    border-radius: 0.625rem;
    color: white;
    font-family: "Montserrat";
    font-size: 1.125rem;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 3px black;
    z-index: 300;
  }
  .lmj-plant-item-background {
    position: absolute;
    max-width: 18.75rem;
    height: 15.625rem;
    background: black;
    opacity: 0.2;
    z-index: 200;
    border-radius: 0.625rem;
  }
}
.lmj-shopping-list {
  max-width: 77.5rem;
  font-family: "Montserrat";
  background: #F7F7F7;
  border-radius: 1.5625rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 2.8125rem;
  column-gap: 2.8125rem;
  padding: 2rem;
}

@media screen and (min-width: 300px) and (max-width: 475px) {
  .lmj-shopping-list {
    max-width: 29.6875rem;
    font-family: "Montserrat";
    background: #F7F7F7;
    border-radius: 1.5625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.3125rem;
    column-gap: 0;
    margin: 0.9375rem;
    padding: 0;
  }
}
.lmj-notFound {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.lmj-notFound-bloc {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  text-align: center;
  flex-direction: column;
  color: #FF6060;
}
.lmj-notFound-title {
  font-size: 288px;
}
.lmj-notFound-errorMessage {
  font-size: 36px;
  padding: 2.0625rem 0 0 0;
}
.lmj-notFound-retour {
  padding: 8.875rem 0 0 0;
}
.lmj-notFound-retour a {
  text-decoration: none;
  color: #FF6060;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (min-width: 300px) and (max-width: 475px) {
  .lmj-notFound-title {
    font-size: 6rem;
  }
  .lmj-notFound-errorMessage {
    max-width: 16.25rem;
    font-size: 1.125rem;
  }
  .lmj-notFound-retour a {
    font-size: 0.875rem;
  }
}
.lgt-fiche {
  width: 100%;
  display: flex;
  /*padding: 30px 0;*/
  font-family: "Monserrat";
  color: #FF6060;
  flex-direction: column;
}
.lgt-fiche-underImg-bloc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lgt-fiche-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 3.125rem;
}
.lgt-fiche-location {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.625rem;
}
.lgt-fiche-host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.lgt-fiche-tagsRatingBloc {
  height: 1.5625rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}
.lgt-fiche-tags {
  height: 1.5625rem;
}
.lgt-fiche-tags span {
  width: 7.1875rem;
  margin-right: 10px;
  background: #FF6060;
  color: white;
  font-size: 14px;
  padding: 0.625rem 1.9375rem 0.625rem 1.875rem;
  border-radius: 15px;
  line-height: 1.25rem;
}
.lgt-fiche-togglesBloc {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px 0;
}
.lgt-fiche-description, .lgt-fiche-equipment {
  width: 48%;
  display: flex;
  flex-direction: column;
  background: #F7F7F7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.lgt-fiche-description h2, .lgt-fiche-equipment h2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Monserrat";
  font-size: 18px;
  font-weight: 500;
  background: #FF6060;
  color: white;
  padding: 13px 0 13px 20px;
  border-radius: 10px;
  margin: 0;
}
.lgt-fiche-description p, .lgt-fiche-equipment p {
  font-family: "Monserrat";
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  /*padding: 0 15px;*/
}
.lgt-fiche-right {
  display: block;
  margin: 0 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.lgt-fiche-equipment ul {
  list-style-type: none;
  font-size: 18px;
  line-height: 25px;
  /*padding: 0 15px;*/
}

.lgt-host-name {
  font-size: 18px;
  font-weight: 500;
  margin-right: 15px;
  line-height: 1.625rem;
}

.lgt-host-pict img {
  border-radius: 50%;
  width: 4rem;
}

.down, .down2 {
  transform: rotate(180deg);
}

@media screen and (min-width: 300px) and (max-width: 475px) {
  .lgt-fiche {
    width: 20.9375rem;
  }
  .lgt-fiche-title {
    font-size: 18px;
    line-height: 16px;
    padding: 0.625rem 0;
  }
  .lgt-fiche-underImg-bloc {
    flex-direction: column;
    position: relative;
  }
  .lgt-fiche-host {
    justify-content: end;
    position: absolute;
    right: 0;
    top: 8.75rem;
  }
  .lgt-fiche-togglesBloc {
    padding: 3.25rem 0;
    display: flex;
    flex-direction: column;
  }
  .lgt-fiche-description, .lgt-fiche-equipment {
    width: 100%;
    margin-top: 1.25rem;
  }
  .lgt-fiche-description h2, .lgt-fiche-equipment h2 {
    padding: 6px 0 6px 10px;
  }
  .lgt-fiche-tags {
    width: 335px;
  }
  .lgt-fiche-tags span {
    padding: 8px 9px;
    border-radius: 10px;
  }
  .lgt-fiche-location {
    font-size: 0.875rem;
  }
}
.kasa-carousel {
  max-width: 1240px;
  max-height: 415px;
}

.carousel, .slide {
  border-radius: 25px;
}

.slide img {
  height: 415px;
  object-fit: cover;
}

.thumbs, .animated {
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 475px) {
  .carousel-root, .slide img {
    max-width: 20rem;
    height: 15.9375rem;
  }

  .carousel, .slide {
    border-radius: 10px;
  }
}
.lgt-fiche-AP {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  row-gap: 22px;
  color: #FF6060;
}
.lgt-fiche-AP .lgt-ap-blocRec {
  background: #F7F7F7;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.lgt-fiche-AP p {
  margin: 0;
  /*padding: 8px 18px;*/
  text-align: justify;
  line-height: 2.125rem;
}
.lgt-fiche-AP h2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Monserrat";
  font-size: 18px;
  font-weight: 500;
  background: #FF6060;
  color: white;
  padding: 5px 0 7px 18px;
  border-radius: 10px;
  margin: 0;
}
.lgt-fiche-AP .lgt-ap-descBloc {
  width: 100%;
  padding: 8px 18px;
  margin: 0;
  background: #F7F7F7;
}
.lgt-fiche-AP .lgt-ap-txt {
  width: 100%;
}

@media screen and (min-width: 300px) and (max-width: 475px) {
  .lgt-fiche-AP p {
    font-size: 12px;
    line-height: 17px;
  }
  .lgt-fiche-AP h2 {
    padding: 2px 0 3px 9px;
  }
}
.description {
  padding: 2.5rem 0.75rem 1.6875rem 1.25rem;
}

@media screen and (min-width: 300px) and (max-width: 475px) {
  .description {
    padding: 1.25rem 0.375rem 0.8125rem 0.625rem;
  }
}

/*# sourceMappingURL=main.css.map */
