.lmj-shopping-list {
	max-width: 1240px;
	font-family: 'Montserrat';
	background: #F7F7F7;
	border-radius: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 45px;
	column-gap: 45px;
	padding: 32px;
}

