.lmj-shopping-list {
	max-width: 1240px;
	margin: auto;
	font-family: 'Montserrat';
	background: #F7F7F7;
	border-radius: 25px;
}

.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	row-gap: 45px;
	column-gap: 45px;
}
@media screen and (max-width:800px){
	.lmj-plant-list {
	  width: 100%;
	  justify-content: space-around;
	  row-gap: 10px;
	  column-gap: 10px;
	}  
  }