.lmj {
	&-banner{
		width: 100%;
		color: #FF6060;
		text-align: right;
		padding: rem(32) 0;
		/*border-bottom: solid 3px black;*/
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		&-logo{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-around;
			align-items: baseline;
			&-K{
				width: rem(54);
			}
			&-A, &-s, &-a{
				width: rem(46);
			}
		}
	}

	&-title{
		font-family: 'Montserrat';
		font-size: rem(24);
		font-weight: 500;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		a{
			margin-left: rem(20);
			text-decoration: none;
			color: #FF6060;
		}
	}
}