.lgt-fiche-AP{
    width: 80%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    row-gap: 22px;
    color: #FF6060;
    .lgt-ap-blocRec{
        background: #F7F7F7;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    p{
        margin: 0;
        /*padding: 8px 18px;*/
        text-align: justify;
        line-height: rem(34);
    }
    h2{

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        font-family: "Monserrat";
        font-size: 18px;
        font-weight: 500;
        background: #FF6060;
        color: white;
        padding: 5px 0 7px 18px;
        border-radius: 10px;
        margin: 0;    }
    .lgt-ap-descBloc{
        width: 100%;
        padding: 8px 18px;
        margin: 0;
        background: #F7F7F7;
    }
    .lgt-ap-txt{
        width: 100%;
    }
}
@media screen and (max-width: 475px){
    .lgt-fiche-AP{
        p{
         font-size: 12px;
        line-height: 17px;
        }
        h2{
            padding: 2px 0 3px 9px;
        }
    } 
}