.lmj-footer {
	width: 100%;
	color: white;
	margin: auto;
	margin-top: 32px;
	background: black;
	padding: 32px 0;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 500;
}

.lmj-footer-elem {
	margin-bottom: 10px;
}
.lmj-k-footer{
	color: white;
}